<%- concert = favorite.concert %>
<article class="my-6" id="<%= dom_id(favorite) %>">
  <div class="grid gap-4 grid-cols-5">
    <div class="col-span-1 text-xl">
      <%= concert.start_time.by_example("Jan 02 @ 3:04 PM") %>
    </div>
    <div class="col-span-3">
      <div class="name">
        <div class="text-lg font-bold">
          <%= link_to(concert.name, concert) %>
        </div>
      </div>
      <div class="bands">
        <%= concert.bands.map(&:name).join(", ") %>
      </div>
      <div class="genres">
        <%= concert.genre_tags.split(",").to_sentence %>
      </div>
      <div class="text-gray-500 font-bold">
        <%= concert.venue.name %>
      </div>
    </div>
    <div class="col-span-1">
      <span></span>
      <br>
      <br>
      <div class="flex">
        <%= button_to(
              favorite_path(id: favorite.id),
              method: "delete",
              class: "#{SimpleForm.button_class} border-solid border-2 border-gray-800 rounded p-1",
              title: "Remove Favorite"
            ) do %>
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <% end %>
      </div>
    </div>
  </div>
</article>
