<%= turbo_frame_tag(dom_id(concert)) do %>
  <hr>

  <article class="py-4">
    <div class="grid gap-4 grid-cols-5">
      <div class="col-span-1 text-xl">
        <%= concert.start_time.by_example("3:04 PM") %>
      </div>
      <div class="col-span-3">
        <div class="name">
          <div class="text-lg font-bold">
            <%= link_to(concert.name, concert, data: {"turbo-frame": "_top"}) %>
          </div>
        </div>
        <div class="bands">
          <%= concert.bands.map(&:name).join(", ") %>
        </div>
        <div class="genres">
          <%= concert.genre_tags.split(",").to_sentence %>
        </div>
        <div class="text-gray-500 font-bold">
          <%= concert.venue.name %>
        </div>
      </div>
      <div class="col-span-1">
        <% if concert.sold_out? %>
          Sold out
        <% else %>
          <%= pluralize(concert.unsold_ticket_count, "Tickets") %>
          Remaining
        <% end %>
        <br>
        <br>
        <div class="flex space-x-4">
          <% if current_user %>
            <% if current_user %>
              <%= link_to(
                    edit_concert_path(concert),
                    class: SimpleForm.button_class + " border-solid border-2 border-gray-800 rounded p-1",
                    title: "Edit"
                  ) do %>
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
                <% end %>
            <% end %>
            <% if current_user.favorite(concert) %>
              <%= render("shared/favorite_button",
                path: favorite_path(id: current_user.favorite(concert)),
                method: "delete",
                enabled: current_user.favorite(concert),
                title: "Add to Favorite"
              ) %>
            <% else %>
              <%= render("shared/favorite_button",
                path: favorites_path(concert_id: concert.id),
                method: "post",
                enabled: current_user.favorite(concert),
                title: "Make Favorite"
              ) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </article>
<% end %>
