%p#notice= notice
%p
  %strong Name:
  = @band.name
%p
  %strong Description:
  = @band.description
%p
  %strong genre tags:
  = @band.genre_tags
= link_to "Edit", edit_band_path(@band)
|
= link_to "Back", bands_path
